{% extends "pre_login_base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Sign Up{% endblock %}</title>
</head>
{% block content %}

<body>
  <div class="row">
    <form action="/signup" method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="-" id="first_name" type="text" name="vorname" class="validate">
          <label for="first_name">Vorname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="-" id="last_name" type="text" name="nachname" class="validate">
          <label for="last_name">Nachname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button id="btn" type="submit" class="waves-effect waves-light btn">Registrieren</button>
        </div>
      </div>
  </div>
  </form>
  </div>
  {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% endblock %}
</body>
{% endblock %}

</html>